@import "../../assets/styles/_variables";
@import "../../assets/styles/mixins";

.slick-slider {
  width: 100%;
  display: flex;

  & .slick-list {
    overflow: hidden;
    width: 100%;

    & .slick-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    & .slick-slide {
      box-sizing: border-box;
      margin: 4rem 0;

      &.slick-active {
        opacity: 1;
      }

      & .slide-item {
        width: 100%;
        height: auto;
        @include flex(space-between, center, column);
        margin: 4rem 0;

        & .slide__content {
          display: flex;

          & .slide__left,
          & .slide__right {
            @include flex (center, center);
            flex: 1;
            margin: 0px 5rem;
          }

          & .slide__left {
            flex-direction: column;
            align-items: flex-start;
            gap: 4rem;
          }
        }
      }

      & img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  & .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 85px;
    list-style: none;

    & li {
      margin: 0;

      &.slick-active button {
        background: $color-main;
      }

      & button {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $color-grey-light;

        &:before {
          font-size: 0;
        }
      }
    }
  }
}