@import "../../assets/styles/_variables";
@import "../../assets/styles/mixins";


.carouselVideo {
  max-width: 800px;
  margin: auto;

  & .slide-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    
    & .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-pagination-bullet {
  background: #333;
}

// slidesPerView = {window.innerWidth > 768 ? 3 : 1};