@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 165px);
  padding: 30px 24px 24px 24px;
  border-radius: 0;
  margin: 0;
  background: $color-white;
  box-shadow: 0 4px 30px $color-grey-dark;
  z-index: 1000;
  width: 500px;

  &.shake {
    animation: shake 0.5s;
  }

  &:active {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  & h2 {
    text-align: center;
    font: $font-title;
    font-weight: bold;
  }

  & .close {
    color: $color-grey-dark;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
      cursor: pointer;
    }
  }

  & .form-auth {
    color: $color-main;
  }
  & .forgot-pass-link {
    color: $color-brand;
    padding-top: 2%;
    font-size: 14px;
    margin: 8px 0 0 0;
  }

  & .button {
    margin: 15px 0;
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-grey-dark (0, 0, 0, 0.5);
  z-index: 500;
  animation: fadeIn 0.5s forwards;
  opacity: 0;
}