@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.product-item__description {
  @include flex(flex-start, center, column);
  width: calc(100% / 12* 3);

  & .label_brand {
    width: 100%;
    font: $font-alternate;
    font-size: 16px;
    line-height: 20px;

    & .brand-product__name {
      color: $color-grey-dark;
    }
  }

& .product-item__category-name {
  width: 100%;
  font: $font-alternate;
  font-size: 32px;
}
}