@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  & .main-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    background-color: $color-white;
    padding: 42px clamp(20px, 50vw - 585px, 30px) 0;

    .header {
      flex: 0 0 auto;

      & .layout {
        display: flex;
        margin: 0 auto;
        width: calc(100vw - 15%);
      }

      &-left-row {
        @include flex(flex-start, center);
        flex: 0 0 calc(100% / 4);

        & div.search-button {
          width: 24px;
          height: 24px;
          right: 0;
          cursor: pointer;
          background: url(../../assets/images/search.svg) no-repeat center / 24px 24px;
        }
      }

      &-center-row {
        @include flex(center, center);
        flex: 1 0 auto;

        & .logo {
          position: relative;
          display: flex;
          text-align: center;
          font-size: 0;
          width: 264px;
          height: 68px;
          background: url("../../assets/images/logo.svg") no-repeat center center / 220px 52px;
        }
      }

      &-right-row {
        flex: 0 0 calc(100% / 4);
        @include flex(flex-end, center);

        & .authorization {
          position: relative;
          cursor: pointer;
          display: flex;
          height: 24px;
          width: 24px;
          border: none;

          &.logged-in {
            background: url(../../assets/images/logout.svg) no-repeat center / 24px 24px;
          }

          &.logged-out {
            background: url(../../assets/images/login.svg) no-repeat center / 24px 24px;
          }
        }

        & .basket-widget {
          position: relative;
          margin-left: 20px;
          cursor: pointer;
          display: flex;
          height: 44px;
          width: 44px;
          background: url(../../assets/images/cart.svg) no-repeat center center / 24px 24px;
          border: none;

          &:hover {
            fill: $color-brand;
          }

          &-quant {
            position: absolute;
            right: 5px;
          }
        }
      }

      @media (max-width: 1023px) {
        .header {
          height: auto;
          background: $color-white;
        }
      }
    }
  }

}