@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#root {
  & .main-wrap {
    margin: 0 auto;

    .header {
      flex: 0 0 auto;

      & .layout {
        display: flex;
        margin: 0 auto;
        width: calc(100vw - 15%);
      }

      &-left-row {
        @include flex(flex-start, center);
        flex: 0 0 calc(100% / 4);

        & div.search-button {
          width: 24px;
          height: 24px;
          right: 0;
          cursor: pointer;
          background: url(../../assets/images/search.svg) no-repeat center / 24px 24px;
        }
      }

      &-center-row {
        @include flex(center, center);
        flex: 1 0 auto;

        & .logo {
          position: relative;
          display: flex;
          text-align: center;
          font-size: 0;
          width: 264px;
          height: 68px;
          background: url("../../assets/images/logo.svg") no-repeat center center / 220px 52px;
        }
      }

      &-right-row {
        flex: 0 0 calc(100% / 4);
        @include flex(flex-end, center);

        & .authorization {
          position: relative;
          cursor: pointer;
          display: flex;
          height: 24px;
          width: 24px;
          border: none;

          &.logged-in {
            background: url(../../assets/images/logout.svg) no-repeat center / 24px 24px;
          }

          &.logged-out {
            background: url(../../assets/images/login.svg) no-repeat center / 24px 24px;
          }
        }

        & .basket-widget {
          position: relative;
          margin-left: 20px;
          cursor: pointer;
          display: flex;
          height: 44px;
          width: 44px;
          background: url(../../assets/images/cart.svg) no-repeat center center / 24px 24px;
          border: none;

          &.empty {
            cursor: default;
          }

          & .header-counter {
            position: absolute;
            width: 15px;
            height: 15px;
            border: 1px solid $color-grey-dark;
            border-radius: 50%;
            background: $color-main;
            color: $color-white;
            right: 1px;

            &.hidden {
              visibility: hidden;
            }
          }
        }
      }

      @media (max-width: 1023px) {
        .header {
          height: auto;
          background: $color-white;
        }
      }
    }
  }

}