@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";


.product-item {
  @include flex(center, center);
  position: relative;
  width: calc(100vw - 15%);
  margin: 32px auto;

  &__description {
    @include flex(flex-start, center, column);
    width: calc(100% / 12* 3);

    & .title-2 {
      width: 100%;
    }

    & .product-item__category-name {
      width: 100%;
    }

    & .product-item__rating {
      width: 100%;
      margin-top: 10px;

      & .star-list {
        @include flex(flex-start, center);
        gap: 1%;
        margin-bottom: 10px;
  
        & .no-rating {
          background: $color-grey;
        }
      }
    }
  }

  
  &__image {
    @include flex(center, center);
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    object-fit: contain;

    & .img {
      width: 100%;
      height: auto;
    }
  }

  &__buy {
    width: calc(100% / 12* 3);

    & .product-item__price-wrap{
      @include flex(flex-start, _, column);

      & .price {
        font: $font-alternate;
        color: $color-main;

        &-old {
          color: $color-grey-dark;
          text-decoration: line-through;
          line-height: 24px;
          font-weight: 400;
          line-height: 1;
        }
        &-new {
          color: $color-deal;
          font: $font-alternate;
        }
      }
      & .currency {
        margin-left: 10px;
      }
    }
  }
}