@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";


.product-item {
  @include flex(center, center);
  position: relative;
  width: calc(100vw - 15%);
  margin: 32px auto;  
  
  &__buy {
    width: calc(100% / 12* 3);
  }
}