@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.input-group {
  position: relative;
  margin: 40px 0 0 0;

  & .input {
    width: 100%;
    padding: 16px 0px 8px;
    margin-left: 0.5rem;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus ~ .bar::before {
      transform: scaleX(1);
    }
  }

  .floating-label {
    opacity: 1 !important;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    color: $color-grey-dark;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.2s ease all;

    &.active {
      top: -1rem;
      font-size: 0.9rem;
    }
  }

  .password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &.hide {
      background: url('../../assets/images/hide-icon.svg') no-repeat center;
    }

    &.show {
      background: url('../../assets/images/show-icon.svg') no-repeat center;
    }

    &:hover {
      opacity: 1;
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: $color-grey-dark;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 2px;
      width: 100%;
      background: $color-brand;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s ease;
      z-index: 1;
    }
  }
}


