@import "../../assets/styles/_variables";
@import "../../assets/styles/mixins";

.carouselTopFive {
  position: relative;
  width: calc(100vw - 15%);
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;

  &:hover {
    .custom-next-arrow,
    .custom-prev-arrow {
      visibility: visible;
      transition: 0.4s ease-in-out;
    }
  }

  .slick-slider {
    padding: 0 70px;

    .slide-item {
      display: flex !important;
      @include flex(center, center);
      height: 500px;
      transition: background 0.5s ease;
      cursor: pointer;

      .product-card {
        @include flex(space-between, center);
        gap: 3%;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        color: $color-main;
        position: relative;

        .slide__position-left,
        .slide__position-right {
          max-width: 50%;
          @include flex(center, center, column);
          flex-grow: 1;

          & button {
            width: 50%;
          }
        }
        &.reverse {
          flex-direction: row-reverse;
        }

        .slide__label {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .slide-image {
          max-width: 300px;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
}