@import "./assets/styles/variables";
@import "./assets/styles/mixins";

* {
  box-sizing: border-box;
  font: $font-main;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover {
    color: $color-brand;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.content {
  @include flex(center, center, column);
  width: calc(100vw - 15%);
  margin: 0 auto;
  overflow: visible;
  position: relative;

  & .main {
    width: calc(100vw - 15%);
  }
}

.text {
  font: $font-main;
  color: $color-main;
  line-height: 20px;
}

.title-2 {
  font: $font-title;
  color: $color-main;
  line-height: 40px;
  margin-bottom: 15px;
}

.offers {
  font: $font-button-cta;
  font-size: 20px;
  line-height: 32px;
  color: $color-main;
}

.card_label {
  @include flex(flex-start, center);
  @include card-label();
}