@import "../../assets/styles/variables";

@mixin flex($justify, $align, $flex-direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flex-direction;
}

@mixin shared-size($min-height: 48px, $padding-x: 24px, $padding-y: 12px) {
    min-height: $min-height;
    height: auto;
    padding: $padding-y $padding-x;
    width: 100%;
    line-height: 24px;
    border-radius: 8px;
}

@mixin card-label () {
    align-self: flex-start;
    margin: 0 0 4px 0;
    padding: 5px 6px 5px 8px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: $color-main;
    color: $color-white;
}