@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Didact+Gothic&family=Figtree:wght@500;600;700&display=swap');

$font-main: 400 20px Roboto, sans-serif;
$font-title: 400 24px Didact Gothic, sans-serif;
$font-button-cta: 600 20px Figtree, sans-serif;


$color-brand: #5b24c9;
$color-main: #212121;
$color-white: #fff;
$color-blue: #085375;
$color-grey: #fafafa;
$color-grey-light: #ebebeb;
$color-grey-dark: #aaaaaa;
$color-deal: #ff5252;

