@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');

$font-main: 400 16px Inter, sans-serif; 
$font-title: 700 56px Poppins, sans-serif;
$font-alternate: 500 20px Lora, serif; 


$color-brand: #5b24c9;
$color-main: #212121;
$color-white: #fff;
$color-blue: #085375;
$color-grey: #fafafa;
$color-grey-light: #ebebeb;
$color-grey-dark: #aaaaaa;
$color-deal: #ff5252;

