@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Work+Sans:wght@500&display=swap');

$font-main: 400 16px Montserrat, sans-serif;
$font-title: 700 56px Work Sans, sans-serif;

$color-brand: #5b24c9;
$color-main: #212121;
$color-white: #fff;
$color-blue: #085375;
$color-grey: #fafafa;
$color-grey-dark: #aaaaaa;

