@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins";

.variants-container {
    display: block;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 10px 0;
}

.select-product-variant {
    @include flex(space-between, center);
    @include shared-size();
    height: 40px;
    background-color: $color-grey;
    border: 1px solid $color-grey-light;
    padding: 0 30px 0 12px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background-color: $color-grey-light;
    }

    .variant {
        @include flex(_, center);
        gap: 12px;

        .variant-image {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 1px solid $color-grey-light;
        }

        span {
            font-size: 14px;
            color: $color-main;
            font-weight: 500;
        }
    }

    .dropdown-icon {
        width: 12px;
        height: 12px;
        border-left: 2px solid $color-main;
        border-bottom: 2px solid $color-main;
        transform: rotate(-45deg);
        transition: transform 0.3s ease;
    }

    &.open .dropdown-icon {
        transform: rotate(135deg);
    }
}

.variants-scrolling {
    position: absolute;
    z-index: 20;
    top: 100%;
    left: 0;
    width: 100%;
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px $color-grey-light(0, 0, 0, 0.15);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease-in-out;

    &.open {
        max-height: 180px;
        opacity: 1;
        visibility: visible;
        overflow: auto;
        /* Customizing the scrollbar for WebKit browsers */
        &::-webkit-scrollbar {
            width: 4px; // Width of the scrollbar
        }

        &::-webkit-scrollbar-track {
            background: $color-grey; // Background color of the scrollbar track
        }

        &::-webkit-scrollbar-thumb {
            background: $color-grey-dark; // Background color of the scrollbar thumb
            border-right: 1px solid $color-grey-dark; // Right border of the scrollbar thumb
            min-height: 40px; // Increase the minimum height of the scrollbar thumb
        }

        &::-webkit-scrollbar-thumb:hover {
            background: darken($color-grey-dark, 40%); // Darken the thumb color on hover
            border-right: 2px solid darken($color-grey-dark, 40%); // Darken the border color on hover
        }
    }

    .variant-option {
        @include flex(_, center);
        gap: 12px;
        padding: 10px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background: $color-grey;
        }

        .variant-image {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 1px solid $color-grey-light;
        }

        span {
            font-size: 14px;
            color: $color-main;
        }
    }
}