@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.menu {
  @include flex(space-around, center);
  flex: 0 0 auto;
  
  & .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
  
    &__item {
      position: relative;
      display: inline-block;
      margin: 0 2rem;
  
      &:hover .menu-list__link__category__content {
        display: block;
      }
    }
  
    &__link__category {
      padding: 10px;
      display: inline-block;
      color: $color-main;
      cursor: pointer;
  
      &__content {
        display: none;
        position: absolute;
        color: $color-main;
        background-color: $color-white;
        padding: 10px;
        z-index: 10;
        min-width: 200px;
      }
    }
  }
}

